* {
  font-size: 65.5%;
  font-family: "Roboto", sans-serif;
  background: #2c2c2e;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
